RewriteEngine On

#This should be the first rule - redirecting from http to https - commented on localhost
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^login/poruka/([0-9]+) login.php?mess=$1

#Izbrisi .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
